<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bee</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="grid-container">
    <div class="Center">

        <!--        <form name='myform' action="/api/auth/signin" method='POST'>-->
        <form th:action="@{/api/auth/forget}" method="post"  >
            <table>
                <tr>
                    <td>Email:</td>
                    <td><input type='text' name='email' id="1" th:value ="${email}"></td>
                </tr>

                <tr>
                    <td><input  type="submit" /></td>
                </tr>
            </table>
        </form>
        <!--        <a th:href="@{/api/auth/forget}"-->
        <!--           th:text="Forget your password?">reset</a>-->



    </div>
</div>