<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bee</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="${error}"> </h1>
<div class="grid-container">
    <div class="Center">
        <h1>Change Password</h1>
        <!--        <form name='myform' action="/api/auth/signin" method='POST'>-->
        <form th:action="@{/api/auth/changePassword}" method="post" th:object="${updatePassword}" >
            <table>
                <tr>
                    <td>New Password:</td>
                    <td><input type='password' name='username' id="1" th:field ="*{password}"></td>
                </tr>
                <tr>
                    <td>Confirm New Password:</td>
                    <td><input type='password' name='password' id="2" th:field = "*{password_confirm}" /></td>
                </tr>
                <tr>
                    <td><input name="submit" type="submit" value="submit" /></td>
                </tr>
            </table>
        </form>
        <!--        <a th:href="@{/api/auth/forget}"-->
        <!--           th:text="Forget your password?">reset</a>-->

    </div>
</div>