<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Teams</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>
<div th:insert="Components/Navbar.html :: navbar" ></div>

<div class="container-fluid">
    <div class="row">
        <div th:insert="Components/Menu.html :: menu" ></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${#strings.capitalize(team.name)}"></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-header">
                    Team
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${#strings.capitalize(team.name)}"></h5>
                    <p class="card-text" th:text="${#strings.capitalize(team.description)}"></p>
                    <a th:href="@{/teams/{teamId}/members(teamId = ${team.id})}" class="btn btn-info">View members</a>
                    <a th:href="@{/teams/{teamId}/projects(teamId = ${team.id})}" class="btn btn-info">View projects</a>
                    <a th:href="@{/teams/{teamId}/members/create(teamId = ${team.id})}" class="btn btn-success">Add member</a>
                    <a th:href="@{/teams/{teamId}/projects/create(teamId = ${team.id})}" class="btn btn-success">Add project</a>
                    <a th:href="@{/teams/{teamId}/edit(teamId = ${team.id})}" class="btn btn-warning">Edit</a>
                    <a th:href="@{/teams/{teamId}/delete(teamId = ${team.id})}" class="btn btn-danger">Delete</a>
                </div>
            </div>
            <br><br>
            <div class="card text-center">
                <div class="card-header">
                    Projects
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="container">
                            <div class="row">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Project description</th>
                                        <th scope="col">Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="project : ${projects}">
                                        <td th:text="${project.id}"></td>
                                        <td th:text="${#strings.capitalize(project.description)}"></td>
                                        <td><a th:href="@{/projects/{projectId}(projectId = ${project.id})}" class="btn btn-info">Details</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><a th:href="@{/teams/{teamId}/projects/create(teamId = ${team.id})}" class="btn btn-success">Create</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </main>
    </div>
</div>

</body>
</html>
