<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>
<div th:insert="Components/Navbar.html :: navbar" ></div>

<div class="container-fluid">
    <div class="row">

        <div th:insert="Components/Menu.html :: menu" ></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Comments</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="Center">
                    <form th:action="@{/comments}" method="post" th:object="${comment}" >
                        <input th:value="${comment.id}" type="hidden" readonly="readonly" class="form-control" id="id" th:field="*{id}">
                        <input th:value="${comment.project}" type="hidden" readonly="readonly" class="form-control" id="project" th:field="*{project}">
                        <input th:value="${comment.project_id}" type="hidden" readonly="readonly" class="form-control" id="project_id" th:field="*{project_id}">
                        <input th:value="${comment.user}" type="hidden" readonly="readonly" class="form-control" id="user" th:field="*{user}">
                        <input th:value="${comment.user_id}" type="hidden" readonly="readonly" class="form-control" id="user_id" th:field="*{user_id}">
                        <div class="mb-3">
                            <label for="title" class="form-label">Comment title</label>
                            <input th:value="${comment.title}" type="text" class="form-control" id="title" th:field="*{title}">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Content</label>
                            <input th:value="${comment.description}" type="text" class="form-control" id="description" th:field="*{description}">
                        </div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </div>
            </div>

        </main>
    </div>
</div>

</body>
</html>
