<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Dashboard</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 font-weight-bold" href="/">Home</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/api/auth/logout">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <span data-feather="file"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teams">
              <span data-feather="file"></span>
              Teams
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">
              <span data-feather="file"></span>
              Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Kanban
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Calendar
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Kanbans</h1>

      </div>
      <div class="grid-container">
        <div class="Center">
          <form th:action="@{/kanbans_todo}" method="post" th:object="${kanban_sub}" >
            <input th:value="${kanban_sub.kanban}" type="hidden" readonly="readonly" class="form-control" id="kanban" th:field="*{kanban}">
            <input th:value="${kanban_sub.kanban_id}" type="hidden" readonly="readonly" class="form-control" id="kanban_id" th:field="*{kanban_id}">
            <div class="mb-3">
              <label for="title" class="form-label">To-do title</label>
              <input type="text" class="form-control" id="title" th:field="*{title}">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descritpion</label>
              <input type="text" class="form-control" id="description" th:field="*{description}">
            </div>
            <div class="mb-3">
              <label for="user.id" class="form-label">User ID</label>
              <input type="number" class="form-control" id="user.id" th:field="*{user.id}">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
          </form>
        </div>
      </div>

    </main>
  </div>
</div>

</body>
</html>
